[[source]]
url = "https://mirrors.sustech.edu.cn/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[scripts]
lint = "pycodestyle ."
code-diff = "black --diff ."
code-format = "black ."
main = "./main.py"

[packages]

[dev-packages]
pycodestyle = "*"
black = "*"

[requires]
python_version = "3.10"
